name: Pull Request

on:
  pull_request:

jobs:
  build:
    name: PHP ${{ matrix.php-versions }} Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        operating-system: [ ubuntu-22.04 ]
        php-versions: ['8.1', '8.2']
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: mbstring, intl, xdebug

      - name: PHP Version
        run: php -v

      - name: Install dependencies
        if: steps.composer-cache.outputs.cache-hit != 'true'
        run: |
          composer self-update
          composer validate
          composer install --prefer-dist --no-progress

      - name: Test Suite + Static Analysis
        run: |
          composer analyze
          echo ${{ matrix.php-versions }}

  coverage:
    name: Code Coverage
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'
          extensions: mbstring, intl

      - name: Install dependencies
        if: steps.composer-cache.outputs.cache-hit != 'true'
        run: |
          composer self-update
          composer validate
          composer install --prefer-dist --no-progress

      - name: Code Coverage
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          composer global require php-coveralls/php-coveralls
          export CODECOVERAGE=1 && vendor/bin/phpunit --coverage-clover=clover.xml
          php-coveralls --coverage_clover=clover.xml -v     

  #
  # CakePHP version compatability
  #
  cakephp_version_compatibility:
    name: CakePHP ${{ matrix.version }} Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: ['~5.0']
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'
          extensions: mbstring, intl

      - name: PHP Version
        run: php -v

      - name: CakePHP ${{matrix.version}} Compatability
        run: |
          composer self-update
          rm -rf composer.lock
          composer require cakephp/cakephp:${{matrix.version}} --no-update
          composer install --prefer-dist --no-progress
          composer test

